<div class="search-wrap">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
      class="search-form-input"
    />
    <button type="submit" class="search-form-btn">Search</button>
  </form>
</div>

<div class="gallery container"></div>
<div class="js-guard-gallery"></div>

<div class="loader-wrap visually-hidden">
  <span class="loader"></span>
  <p class="loader-text">Loading data, please wait...</p>
</div>

<button class="back-to-top-btn visually-hidden" title="Go to top">
  <svg width="40" height="40" class="icon-top">
    <use href="./img/icon.svg#icon-chevron-thin-up"></use>
  </svg>
</button>
