<div class="search-wrap">
  <button type="button" class="home-btn">Home</button>

  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
      class="search-form-input"
    />
    <button type="submit" class="search-form-btn">Search</button>
  </form>
</div>

<div class="categories-wrap container visually-hidden">
  <h2 class="title">Categories</h2>
  <ul class="categories"></ul>
</div>

<div class="gallery-wrap container">
  <h2 class="gallery-title title visually-hidden"></h2>
  <ul class="gallery"></ul>
</div>

<div class="js-guard-gallery visually-hidden"></div>

<p class="end-gallery visually-hidden">
  We're sorry, but you've reached the end of search results.
</p>
